/*estilos.css*/
*{
  margin: 0;
  padding: 0;
}
body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0px;
    background-color: #f4f4f4;
    color: #0c0c0c;
    padding: 0;
    overflow-x: hidden;
}

.main-header {
    display: flex;
    justify-content: space-between;
}
.banner {
    background-image: url(../images/trevor-cole-ZDlMb4tVE40-unsplash.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 15px;
}
.feat-events {
    color: #fff8dc;
}
.navbar {
    border-radius: 0;
}
.btn {
    background-color: #63708a;
    border-color: none !important;
}
.main-event {
    background-image: url(../images/pexels-cottonbro-4325455.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    margin: 20px auto 20px auto;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 8px;
    background-color: #dedbdb;
}

#first-event {
    background-image: url(../images/pexels-cottonbro-4325455.jpg);
}
#second-event {
    background-image: url(../images/pexels-elly-fairytale-3822622.jpg);
}
.feat-events {
    height: 150px;
    background-color: rgb(193 193 193 / 0.1);
    padding-left: 25px;
    padding-top: 35px;
}
.card {
    background-color: rgba(1, 180, 180, 1);
    height: 300px;
    padding-top: 40px;
    text-align: center;
    padding-left: 20px;
    box-shadow: 3px 3px 10px #212529;
    text-decoration: none;
}
.card-link {
    color: #ebf8f8;
    text-decoration: none;
}
.divider {
    padding-bottom: 30px;
}

.testimonials {
    display: flex;
    justify-content: space-between;
}

.first-testimonials-text {
    padding-left: 20px;
    box-shadow: 3px 5px 10px #dee2e6;
    height: 365px;
}
.second-testimonials-text {
    padding-left: 20px;
    box-shadow: -5px 5px 10px #dee2e6;
    height: 365px;
}
.test {
    background-color: #9c7f818c;
}
.nav {
    display: inline;
}
.navbar {
    margin-bottom: 0px !important;
}

.testimonials > div {
    width: 50%;
}
.testimonials video {
    max-width: 100%;
}

.form-control.fix{
  height: 34px;
}

.card{
  transition: .3s;
}
.card:hover{
  background: #117777;
}
.card:hover .card-link{
  color: white;
}

.elements{
  margin-bottom: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 927px) {
  .testimonials {
      flex-direction: column;
  }
  
  .testimonials > div {
    width: 100%;
  }
}

footer ul{
  display: flex;
  font-size: 20px;
  list-style: none;
  justify-content: flex-end;
}

footer ul li{
  margin-right: 10px;
}

footer{
    height: 50px;
    background-color: #222222;
 }

footer a{
  color:#dee2e6;
}

.list-items{
  padding-top: 10px;
}




* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container-second {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

 